.page-header {
  border-bottom: 1px solid $line-color;
  position: relative;
  // top: 80px;
  // width: 100%;
  // top: 0;
  // left: 0;
  // background-color: $primary-white-color;
  // z-index: 5;
}

.page-header__container {
  // position: relative;
  z-index: 1;
}
.page-header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
