@font-face {
  font-family: "Raleway", sans-serif;
  src: url(../fonts/Raleway/Raleway-Bold.woff) format("woff"),
    url(../fonts/Raleway/Raleway-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
