:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-text-cl: #ffffff, 60 %;
  --alt-title-cl: #ffffff;

  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;
  --main-bg: #e5e5e5;

  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
}
