.footer-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container-footer {
  width: 231px;
  height: 132px;
  display: block;
}
.subscribe-email {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}

.subscribe-email input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.bot-sub-email-label {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 2.24;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.bot-sub-email-box {
  width: 358px;
  padding: 15px 16px;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: #2f303a;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bot-sub-email-box:hover,
.bot-sub-email-box:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
  outline: none;
}

.bot-telegram-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.invite-item {
  text-align: left;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.address-item-place {
  color: #ffffff;
  margin-bottom: 10px;
  width: 231px;
}
