.page-header .container {
  display: flex;
  align-items: center;
}

.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}
.header-decoration {
  color: #212121;
}
